<div id="mainContainer  vh-100" class="container-fluid">
    <!--Row and col for navigation-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      
      <button id="navMenuButton" class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="bi bi-justify"></i>
      </button>
    
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  (click)="mainRoute()" [ngClass]="{'active': this.router.url === '/myplaylist'}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="allGamesRoute()" [ngClass]="{'active': this.router.url === '/allgames'}"> All Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="completedGamesRoute()" [ngClass]="{'active': this.router.url === '/completedgames'}"> Completed Games</a>
          </li>
        </ul>
      </div>
      <button *ngIf="token.accessToken.length === 0" id="loginButton" class="btn btn-primary" (click)="loginButton(content)">Log In</button>
      <button *ngIf="token.accessToken.length === 0" id="signUpButton" class="btn btn-primary" (click)="signUpButton(content1)">Sign Up</button>
      <button *ngIf="token.accessToken.length !== 0" id="logoutButton" class="btn btn-danger" (click)="logOutButton()" routerLink="/">Log Out</button>
    </nav>
      <!--Row and col for navigation-->

      <!--modal for login pop up-->
      <ng-template #content let-modal>
        <div class="modal-header  centerCol">
          <h4 class="modal-title" id="modal-basic-title">Log In</h4>
        </div>
        <div class="modal-body">
          <form #f="ngForm">
            <div class="centerCol">
              <label id="usernameLabel" for="userName">Username: </label>
              <br>
                <input type="text" id="userName" class="form-control" placeholder="David" name="userName" ngModel #userName="ngModel" required>
                <p *ngIf="!userName.valid && userName.touched">Please enter a Username!</p>
                <p *ngIf="userNotFound=== 1">Username not found</p>
                <br>
                <label id="passwordLabel" for="password">Password: </label>
              <br>
                <input type="password" id="password" class="form-control"  name="password" ngModel #password="ngModel" required>
                <p *ngIf="!password.valid && password.touched">Please enter a password!</p>
                <p *ngIf="passwordInvalid === 1">Invalid Password!</p> 
            </div>
          </form>
        </div>
        <div class="modal-footer centerColRow">
          <button [disabled]="!f.valid" class="btn btn-success" (click)="submitLogin(content, f)">Submit</button>
          <button class="btn btn-danger"  (click)="modal.dismiss()">Cancel</button>
        </div>
      </ng-template>
      
      <!--modal for signup pop up-->
      <ng-template #content1 let-modal>
        <div class="modal-header  centerCol">
          <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form #f1="ngForm">
            <div class="centerCol">
              <label id="usernameLabel" for="userName">Create Username: </label>
              <br>
                <input type="text" id="userName" class="form-control" placeholder="David" name="userName" ngModel #userName="ngModel" required>
                <p *ngIf="!userName.valid && userName.touched">Please enter a Username!</p>
                <p *ngIf="userTaken=== 1">Username is unavailable!</p>
                <br>
                <label id="passwordLabel" for="password">Create Password: </label>
              <br>
                <input type="password" id="password" class="form-control"  name="password" ngModel #password="ngModel" required>
                <p *ngIf="!password.valid && password.touched">Please enter a password!</p>
                <p *ngIf="passwordInvalid === 1">Password must be at least 8 characters!</p> 
            </div>
          </form>
        </div>
        <div class="modal-footer centerColRow">
          <button [disabled]="!f1.valid" class="btn btn-success" (click)="submitSignUp(content1, f1)">Log In</button>
          <button class="btn btn-danger"  (click)="modal.dismiss()">Cancel</button>
        </div>
      </ng-template>
  
  
  
  
  
  
   
    <br>
    <!--Row and col for content-->
    <div class="row" id="contentRow">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="contentCol">
        <router-outlet></router-outlet>
      </div>
    </div>

    <h1 id="notLoggedInHeader" *ngIf="token.accessToken.length === 0">You Must Be Logged In to View Your Games.</h1>
  
  </div>
  
  
  