<div *ngIf="token.accessToken.length !== 0">
    <div class="row">
        <div id="headerCol" class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12">
            <h2 id="mainHeader">Games on Current Playlist (Total: {{(games|filterGames: 'Playlist' : selectedPlatform).length}})</h2>
        </div>
        <div id="filterCol" class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <h3 id="filterHeader">Filter By Platform:</h3>
                <div class="filter">
                    <div id="filterDropDown" ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>{{ selectedPlatform }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="onFilter('All')">All</button>
                            <button ngbDropdownItem (click)="onFilter('PC')">PC</button>
                            <button ngbDropdownItem (click)="onFilter('Nintendo Switch')">Nintendo Switch</button>
                            <button ngbDropdownItem (click)="onFilter('PS4/PS5')">PS4/PS5</button>
                            <button ngbDropdownItem (click)="onFilter('Xbox One/Series X')">Xbox One/Series X</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
                <br>
                <br>
    
                <div class="allPLaylistGames">
                    <div class="gameBoxDiv" *ngFor="let game of games | filterGames: 'Playlist' : selectedPlatform; let i = index;">
                        <img  class="center" src="{{ game.gameImage }}" alt="{{ game.gameName }}" width="150" height="200" routerLink="/allgames/{{ game.gameId }}" title="Click for Game Details">
                        <br>
                        <h3>{{ game.gameName }}</h3>
                        <p>Platform: {{ game.gamePlatform }}</p>
                        <div class="buttonBox">
                        <button class="btn btn-success playListBtns" (click)="updateStatusButton(game.gameId)">Mark As Completed</button>
                        <button class="btn btn-danger playListBtns" (click)="removeFromPlaylist(game.gameId)">Remove From Playlist</button>
                    </div>
                    </div>
                    </div>
                </div >
    
    
    
            
